.movie {
  position: relative;
}

.title {
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */


  color: #E6F7FF;
}

.date {
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */


  color: #A1D1E6;
}

.rating {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */
  text-align: center;
  color: #FFFFFF;
  position: absolute;
}

.poster {
  width: 155px;
  height: 233px;
  background-color: blue;
}