.movie {
  position: relative;
}

.movie .title {
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */


  color: #E6F7FF;
}

.movie .date {
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */


  color: #A1D1E6;
}

.movie .rating {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */
  text-align: center;
  color: #FFFFFF;
  position: absolute;
}