.searchBox input {
  max-width: 1000px;
  box-sizing: border-box;

  height: 44px;
  border-radius: 22px;
  border: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  padding-left: 22px;
  margin: -22px 20px 44px 20px;
}

.searchBox input::placeholder {
  color: #01D277;
}