.searchBox {
  margin: -22px 20px 44px 20px;
  position: relative;

  transition: padding 0.8s ease;
}

.searchBox.shrunk {
  padding-left: 375px;
}

.searchBox input {
  width: 100%;
  box-sizing: border-box;

  height: 44px;
  border-radius: 22px;
  border: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  padding: 0px 18px;
}

.searchBox img {
  position: absolute;
  right: 17px;
  top: 14px;
}

.searchBox input::placeholder {
  color: #01D277;
}