html, body {
  height: 100%;
  margin: 0;
}

.App {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  background-color: #081B23;
  height: 100%;
}

.logo {
  display: block;
  margin: 60px auto 0px auto;
}

header {
  width: 100%;
  height: 192px;
  background: url(decor.svg), radial-gradient(312.01px at 50% -21.35%, rgba(5, 112, 172, 0.46) 0%, rgba(8, 27, 35, 0) 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  padding: 0px 20px;
  box-sizing: border-box;
  overflow: hidden;
}

header h1 {
  color: #01D277;
}

header.shrunk {
  background: url(decor.svg), radial-gradient(312.01px at 375px -21.35%, rgba(5, 112, 172, 0.46) 0%, rgba(8, 27, 35, 0) 100%);
  box-sizing: border-box;
  padding-left: 375px;
  background-position: 250px, -100%;
  background-repeat: no-repeat, no-repeat;
}

header.shrunk .logo {
  margin-left: 30px;
}

h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  color: #E3F4FC;
}

h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #E3F4FC;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.poster {
  width: 100%;
  /* width: 155px; */
  /* height: 233px; */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5), 0px 8px 16px rgba(0, 0, 0, 0.5), 0px 16px 32px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
}

.poster img {
  width: 100%;
  margin-bottom: -4px; /* Fixes weird margin below poster image */
}