.moviesList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  margin: 0;

  transition: all 0.8s ease;
  padding-bottom: 60px;
}

.moviesList.shrunk {
  padding-left: 375px;
}

.searchFailure {
  grid-column-start: 1;
  grid-column-end: 3;
}

.searchFailure h2 {
  margin-top: 20px;
}

@media (min-width: 900px) {
  .moviesList {
    grid-template-columns: repeat(3, 1fr);
  }
}