.searchBox input {
  width: 100%;
  box-sizing: border-box;

  height: 44px;
  border-radius: 22px;
  border: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  
  color: #01D277;
  padding-left: 22px;
}