.App {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  background-color: #081B23;
}

header {
  color: #01D277;
}

h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  color: #E3F4FC;
}

h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #E3F4FC;
}

.poster {
  width: 155px;
  height: 233px;
  background-color: blue;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5), 0px 8px 16px rgba(0, 0, 0, 0.5), 0px 16px 32px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}
