.movie {
  position: relative;
  padding: 16px;
  overflow: hidden;
}

.movie .title {
  font-size: 14px;
  line-height: 16px;
  color: #E6F7FF;
  margin-top: 12px;

}

.movie .date {
  font-size: 12px;
  line-height: 14px;
  color: #A1D1E6;
  margin-top: 6px;
}

.movie .rating {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  background-color: #4902A3;

  width: 40px;
  height: 20px;
  margin: 8px 5px;
  border-radius: 8px;
}

.movie .ratedWell {
  background-color: #01D277;
}

.movie .ratedPoorly {
  background-color: #D1225B
}

